.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100dvw;
  padding: 10px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.nav {
  padding-left: 20px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.link {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  background-color: #386c0b;
  box-shadow: 2px 2px #888888;
  &:hover,
  &:active {
    background-color: adjust-hue($color: #386c0b, $degrees: 30);
  }
}
